@mixin flexBox($alignItem: center, $justifyContent: center, $flexDirection: column) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
}
