@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./variables";
@import "./mixins";
@import "./templates/style";
@import "./pages/style";
@import "./organisms/style";
@import "./atoms/style";
@import "./molecules/style";
@import "./layouts/style";

@font-face {
    font-family: mainFont;
    src: url("./fonts/Helvetica/Helvetica.ttf");
}

*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: mainFont;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex {
    @include flexBox;
}

.text-center {
    text-align: center;
}

.st-scrollable {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.st-container {
    padding: 30px;
}

a,
button {
    cursor: pointer;
}

a[class^="action-"],
button[class^="action-"] {
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    &:active,
    &:hover,
    &:focus {
        outline: none;
        color: #fff;
        text-decoration: none;
    }
}
